<!-- -->
<launch>

  <arg name="rviz"  default="false"   />

  <!-- load jackal urdf file -->
  <param name="robot_description"
         command="$(find xacro)/xacro $(find star_jackal_mapper_description)/urdf/jackal.urdf.xacro --inorder" />

  <!-- jackal robot tf publish -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
    <!-- <arg="publish_frequency" value="50"/> -->

<!-- jackal mapper visualization -->
  <!-- <group if="$(arg rviz)">

    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find star_jackal_mapper_description)/config/star_jackal_mapper.rviz" />
  </group> -->
</launch>	